Source: rtorrent
Section: net
Priority: extra
Maintainer: Jose Luis Rivas <ghostbar38@gmail.com>
Uploaders: Arnaud Fontaine <arnaud@andesi.org>
Build-Depends: debhelper (>= 5.0.37.2), libtorrent9-dev(>= 0.10.4), libsigc++-2.0-dev, libcurl3-openssl-dev, libncurses5-dev, bc
Standards-Version: 3.7.2

Package: rtorrent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ncurses BitTorrent client based on LibTorrent
 rtorrent is a BitTorrent client based on LibTorrent.  It uses ncurses and is
 therefor ideal to use with screen.  It has the following features:
 .
  Use an URL or file path to add torrents at runtime
  Stop/delete/resume torrents
  Optionally loads/saves/deletes torrents automatically in a session directory
  Safe fast resume support
  Shows lots of information about peers and the torrent
 .
 http://libtorrent.rakshasa.no/
